body {
	background-color: #F4F1BD;
}

i { 
	margin-right: 5px;
}

.addFlashcard {
	display: none;
}

h1 {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

.navbar {
    background-color: transparent;
}

.well {
   background-color: rgba(244, 241, 189, 0.6);
}