<template name='info'>
	<h2>Om Fogelflash</h2>
	<p>
	Fogelflash är ett litet, enkelt verktyg för att kunna öva på glosor. 
	</p>
	<p>
	Du kan titta runt och leta upp redan färdiga övningar.
	</p>
	<p>
	Eller ännu bättre! Lägg in egna övningar och dela med dig till andra. För att kunna göra detta måste du skapa ett konto och registrera dig som användare.Var inte rädd! Vi kommer inte att sprida din epostadress eller skicka en massa mail till dig. Möjligtvis information någon enstaka gån
	</p>
</template>

