<template name='practice'>
	{{#each cards}}
		{{>practiceCard}}
	{{/each}}


	<script type="text/javascript">
		$('body').bind('touchstart', function() {});
	</script>
</template>

<template name='practiceCard'>
	<div class="container cards centered">
	  <div class="card effect-hover">
	    <div class="card-front">
				<div class='card-text'>{{fromText}}</div>
			</div>
  		<div class="card-back">
				<div class='card-text'>{{toText}}</div>
				<div class='card-comment'>{{comment}}</div>
			</div>
		</div>
	</div>
</template>
